  
  <% @articles.each do |article| %>
    
    <div class="row featurette">
      <h2 class="featurette-heading"><%= article.title %>
      </h2>
      <br><br>
      <div class="col-md-5">
        <%= image_tag article.photo.url(:large), :class => "featurette-image img-responsive"%>
      </div> 
      <p class="lead">
        <%= truncate article.body, length: 160 %>
        <%= article.body %>
      </p> 
      <br>
    </div>
    <h2><small class="text-muted"><%= link_to 'Leer Más', article %></small></h2>
    <hr class="featurette-divider">
  <% end %>
  <div>
    <%= will_paginate @articles %>
  </div>
<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> 
  </thead>

  <div>

  </div>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<br>
-->
<%= link_to 'New Article', new_article_path %>
