  
  <% @articles.each do |article| %>
    
    <div class="row featurette">
      <h2 class="featurette-heading"><%= article.title %></h2>
      <% if article.photo_file_name == nil%>
          <div class="col-md-12">
            <img src="http://www.syevf.org/wp-content/uploads/2013/07/default_user_icon.jpg"/>
          </div>
      <% else %>
        <div class="col-md-12">
          <%= image_tag article.photo.url(:large), :class => "featurette-image img-responsive"%>
        </div> 
      <% end %>

      <p class="lead">
        <%= truncate article.body, length: 160 %>
        <%= article.body %>
      </p> 
      <br>
    </div>
    <h2><small class="text-muted"><%= link_to 'Leer Más', article %></small></h2>
    <hr class="featurette-divider">
  <% end %>
  <div>
    <%= will_paginate @articles %>
  </div>

<% if @articles.size == 0 %>
   <em>No Existen Artículos</em>
<% end %>
<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> 
  </thead>

  <div>

  </div>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<br>
-->
<%= link_to 'Crear Artículo', new_article_path %>
