<div>
  <div class ="jumbotron">
        <h2>Artículos</h2>
  </div>
  
  <div class="column col-sm-12">
    
    <% @articles.each do |article| %>
      <h1><%= article.title %></h1>
      <h4><span class="text-muted"><%= "#{article.user.first_name} #{article.user.last_name}"%></span></h4>
      <h4><small class="text-muted"><%= article.created_at.to_formatted_s(:long_ordinal) %></small></h4>
      <div>
        <% if article.photo.exists? %>
          <%= image_tag article.photo.url(:large), :class => "img-responsive"%>
        <% else %>
          <img src="http://bootply.com/assets/example/bg_suburb.jpg" class ="img-responsive"/>
        <% end %>
      </div>
      <br>
      <div>
        <%= simple_format truncate(article.body, :length => 500), :class => "lead" %>
      </div>
      <h4><small class="text-muted"><%= link_to 'Continuar leyendo', article%></small></h4>
      <%if session[:user_id] == article.user_id%>
        <div class="well">
          <strong>Parece que tu escribiste este artículo, puedes editarlo desde aquí directamente</strong><br>
          <%= link_to 'Editar', edit_article_path(article), :class => "btn btn-sm btn-primary"%>
          <%= link_to 'Eliminar', article, method: :destroy, data: { confirm: 'Estas seguro de eliminar el Artículo?'}, :class => "btn btn-sm btn-danger"%>
          <br>
          <br>
        </div>
      <%end %>
      <% if article != @articles.last%>
          <hr>
      <% end %>
    <% end %>
    
  </div>
  <div>
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>

  <% if @articles.size == 0 %>
     <em>No Existen Artículos</em>
  <% end %>
  <hr>
  <div>
    <%= link_to '¿Que esperas? crea un artículo', new_article_path, :class => "btn btn-primary" %>
  </div>

</div>

