<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @article.body %>
</p>

<% for source in @article.sources %>
  <li>
    <%=h source.url %>
    <ul>
    </ul>
  </li>
<% end %>
<% for art_object in @article.art_objects %>
  <li>
    <%=h art_object.route %>

    <ul>
    </ul>
  </li>
  <img src="<%= qr_code(250, art_object.route) %>" />
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
