<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <p>
    <% if @user.photo.exists? %>
      <%= image_tag @user.photo.url(:medium), :class => "img-circle"%> 
    <% else %>
      <img src="https://openminds.swissre.com/static//images/profile-default.png" class="img-circle"/>
    <% end %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= @user.first_name %>
  </p>
  <br>
  <p>
    <strong>Apellidos:</strong>
    <%= @user.last_name %>
  </p>
  <br>
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>
  <br>
  <p>
    <strong>Acerca de ti:</strong>
    <%= @user.about_user %>
  </p>
  <br>
  <p>
    <strong>Correo Electrónico:</strong>
    <%= @user.email %>
  </p>
</div>
<% if session[:user_id] != nil%>
  <%= link_to 'Editar perfil', edit_user_path(@user), :class => "btn btn-primary"%>
  <%= link_to 'Eliminar Perfil', @user, method: :delete, data: { confirm: 'Estas seguro de eliminar tu perfil?'}, :class => "btn btn-danger"%><br>
<% else %>
  <%= link_to 'Comienza Ahora!', login_path, :class => "btn btn-success"%><br>
<% end %>


